*{
  margin: 0%;
  padding: 0%;
}

.escola{
  background-color: #000000;
  color:white;
}
.custom-button {
    background-color: #d3167e;
    border-style: double;
    color: rgb(248, 244, 244);
    padding: 30px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 50% 50% 50%;
    border-color: rgb(252, 251, 251);
  }

.custom-button:hover {
    background-color: #000000;
    text-align: center;
  }

.center-container{
  text-align: center;
  background-color: #000000;
}

.cabecalho {
  background-color:#000000;
}

.estudante-titulo{
  background-color: #000000;
  text-align: center;
}

.escola-titulo{
  text-align: center;
}

.escola{
  background-color: #000000;
}

.estudante{
  background-color: #000000;
}

.background{
  background-color: #000000;
}
