.body{
  background-color: black;
}





.custom-button {
    background-color: #d3167e;
    border:none;
    color: rgb(248, 244, 244);
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 50% 50% 50%;
    border-style: solid;
    border-color: black;
  }

  .custom-button:hover {
    background-color: #09b3b9;
  }

  .center-container{
    text-align: center;
    background-color: #000000;
  }